@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

/* Color Codes:
1D006D - school website color
0E0038 - darkened version
4E0250 - dark purple
801A86 - purple
645986 - a blued violet
D9BBF9 - light pink
FAFAFF - dif white
                */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FAFAFF;
    font-family: 'Nunito Sans', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    display: block;
    font-family: 'Monsterrat', sans-serif;
    overflow: hidden;
    width: 100%;
    background-color: rgba(29, 0, 109, 1);
}

nav a {
    display: block;
    float: none;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 6vw;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

footer {
    display: block;
    overflow: hidden;
    width: 100%;
    font-family: 'Monsterrat', sans-serif;
    background-color: rgba(29, 0, 109, 1);
    color: white;
}

.footer-txt-cl {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.footer-txt-row::after {
    content: "";
    display: table;
    clear: both;
}

.widescreen {
    visibility: hidden;
    display: none;
}

.mobile {
    visibility: visible;
    display: block;
}

.active {
    background-color: rgba(0, 0, 0, 0.5);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#splash-screen {
    background-image: url("jWr67J8.png"); /*! NOT FINAL IMAGE!!! */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100%;
}

#splash-button a{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    text-decoration: none;
    font-size: 4vh;
    color: red; /*TODO: Change Color Scheme once proper bg image set!!! */
    padding: 1vh;
    border: 2px solid red; /*TODO: Change Color Scheme once proper bg image set!!! */
    border-radius: 15px;
}

* {
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
    nav {
        box-shadow: 0px 2px 5px black;
    }

    nav a {
        float: left;
        width: 25%;
        padding: 10px 0;
        transition: all 0.3s ease;
        font-size: 3vw;
    }
}

@media only screen and (min-width: 992px) {
    .widescreen {
        visibility: visible;
        display: block;
    }

    .mobile {
        visibility: hidden;
        display: none;
    }

    .active {
        background-color: inherit;
        border-bottom: 3px solid #FAFAFF;
    }

    nav a {
        width: auto;
        transition: none;
        display: flex;
        float: right;
        font-size: 20px;
        padding: 10px;
    }

    nav a:first-child {
        float: left;
    }

    nav a:hover {
        background-color: inherit;
        border-bottom: 3px solid #FAFAFF;
    }
}